<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <title>Restaurant Repository</title>
</head>
<body>
</button>
  <header class="header-element">
      <button class="home-button" onclick="window.location.href='/api/restaurants'">
        <i class="fas fa-home"></i>
    </button>
    <div class="app-name" ><strong>Restaurant Repository</strong></div>
    <button class="search-button" onclick="window.location.href='/restaurants'">
      <i class="fas fa-search"></i>
  </button>
  </header>
</body>
